EBAY_ENV=production
EBAY_CLIENT_ID=your-ebay-client-id
EBAY_CLIENT_SECRET=your-ebay-client-secret
EBAY_REDIRECT_URI=https://www.patzcom.com/api/ebay/callback
EBAY_SCOPES=https://api.ebay.com/oauth/api_scope/sell.inventory https://api.ebay.com/oauth/api_scope/sell.fulfillment https://api.ebay.com/oauth/api_scope/sell.account
EBAY_APP_SCOPES=https://api.ebay.com/oauth/api_scope
EBAY_AUTH_CODE=
EBAY_REFRESH_TOKEN=

PAYPAL_CLIENT_ID=your-paypal-live-client-id
PAYPAL_ENV=live
